
@media (max-width:960px) {
    .content__section {
        padding: 0 2rem;
        max-width: 100%;
    }

}

.content__section h2 {
    margin-bottom: 1rem;
}

.content__flex {
    display: flex;
    flex-wrap: wrap;
    width: min(calc(100% - 4rem), 1250px);
    justify-content: center;
    margin-inline: auto;
    margin-top: 5rem;
    row-gap: 3rem;
}